.singleArticle {
  width: 250px;
  height: auto;
  text-align: justify;
  border: 1px solid #585858;
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  float: left;
  margin-left: 30px;
  margin-top: 30px;
}

.singleArticleTitle {
  padding-left: 20px;
  padding-right: 50px;
  padding-bottom: 5px;
  height: 60px;
  overflow-y: auto;
}

.singleArticleImage {
  padding-left: 20px;
  width: 180px;
  height: 100px;
}

.singleArticleImageTag {
  width: 100%;
  height: 100%;
}

.singleArticleDescription {
  padding-left: 20px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 60px;
  overflow-y: auto;
}

.singleArticleMoreOption {
  text-align: end;
  padding-right: 50px;
}

.articlesContainer {
  display: flow-root;
}

.cursorPointer {
  cursor: pointer;
}

.displayNone {
  display: none;
}

.visibilityHidden {
  visibility: hidden;
}

.singleArticleFullTitle {
  width: 250px;
  height: 100px;
  overflow-y: hidden;
}

.singleArticleFullTitle {
  width: 250px;
  height: 100px;
  overflow-y: auto;
  overflow: overlay;
  position: absolute;
  border: 1px solid #111;
  left: 25%;
  background-color: #fff;
}
