.header {
  width: 100%;
  display: inline-flex;
  border: 1px solid #111;
  margin: 0px;
  margin-top: 0.5px;
}

.headerThreeLeftOptions {
  display: inline-flex;
}

.headerTwoRightOptions {
  display: inline-flex;
  position: absolute;
  right: 0px;
  padding-right: 14px;
}

.headerOption {
  padding: 20px;
  border-right: 1px solid #111;
}

.headerOption#gbLanguage {
  border-left: 1px solid #111;
}

.headerOption#usLanguage {
  border-right: unset;
}

.headerOptionHighlighted {
  background-color: #777777;
  color: #fff;
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .header {
    display: inline-grid;
    border: 1px solid #111;
  }

  .headerThreeLeftOptions {
    display: unset;
    border: 1px solid #111;
  }

  .headerTwoRightOptions {
    display: unset;
    position: unset;
    padding-right: unset;
    right: unset;
    border: 1px solid #111;
  }

  .headerOption {
    border: 1px solid #111;
  }

  .headerOption#gbLanguage {
    border-left: 1px solid #111;
  }

  .headerOption#usLanguage {
    border-right: 1px solid #111;
  }
}
